<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>teacher_login</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="login-clean" style="height: 100%;">
        <h6 style="text-align: center; color: red;">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again</p>
            {% elif next %}
                {% if user.is_authenticated and not user.is_teacher %}
                <p>Your account doesn't have access to Teacher. To proceed,
                please login with an account that has access.</p>
                {% endif %}
            {% endif %}
        </h6>
        <form action="{% url 'teacher:teacher_login' %}" method="post" style="margin-top: 32px;">
            {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-lock-combination"></i></div>
            <div class="form-group">{{form.username}}</div>
            <div class="form-group">{{form.password}}</div>
            <input type="hidden" name="next" value="{{next}}">
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div>
            <a class="forgot" href="#">Forgot your email or password?</a>
        </form>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>